@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer utilities {
  .course-active {
    @apply bg-gray-200 rounded-full;
  }
  .date-active {
    @apply rounded-full lg:rounded-xl bg-slate-200;
  }
  .sticky-navbar {
    @apply max-h-[100px] backdrop-blur-lg transition-all duration-700 border-b border-neutral-300;
  }
  .nav-sticky {
    @apply z-30 transition-all duration-700 top-0 left-0 sticky w-full;
  }
  .hover-img {
    @apply transition-transform duration-300 hover:scale-125 hover:rotate-6;
  }
  .img-style {
    @apply max-w-[240px] h-[170px] sm:h-[210px] rounded-xl overflow-hidden;
  }
  .grid-cols-r-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}
